.home-side-bar {
  width: 27%;
  min-width: 355px;
  border-right: 1px solid #3d3d3f;
  display: flex;
  flex-direction: column;
}

.home-side-bar__tab-container {
  height: 120px;
  border-bottom: 1px solid #3d3d3f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-side-bar__body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.home-side-bar__body__container__balance {
  background-image: linear-gradient(0.25turn, #f25d70, 50%, #846df2);
  background-clip: text;
  color: transparent;
  width: 100%;
  height: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.home-side-bar__body__container__balance:hover {
  color: white;
  border-radius: 20px;
  border-color: #f25d70;
  background: linear-gradient(0.25turn, #f25d70, 50%, #846df2);
  box-shadow: 0px 0px 25px 10px rgba(99, 48, 84, 0.75);
}

.home-side-bar__body__container__balance-title {
  font-size: 28px;
  margin-left: 25px;
}

.home-side-bar__body__container__balance-amount {
  font-size: 64px;
  margin-right: 25px;
}

.home-side-bar__body__row-container {
  width: 100%;
  height: 125px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.home-side-bar__body__container__income {
  background-image: linear-gradient(0.25turn, #f25d70, 50%, #846df2);
  background-clip: text;
  color: transparent;
  width: 200px;
  height: 125px;
  display: flex;
}

.home-side-bar__body__container__income:hover {
  color: white;
  border-radius: 20px;
  border-color: #f25d70;
  background: linear-gradient(0.25turn, #f25d70, 50%, #846df2);
  box-shadow: 0px 0px 25px 10px rgba(99, 48, 84, 0.75);
}

.home-side-bar__body__container__income-title {
  font-size: 14px;
  margin-left: 15px;
}

.home-side-bar__body__container__income-amount {
  font-size: 14px;
  margin-left: 15px;
}

.home-side-bar__body__container__expense {
  background-image: linear-gradient(0.25turn, #f25d70, 50%, #846df2);
  background-clip: text;
  color: transparent;
  width: 200px;
  height: 125px;
  text-align: left;
}

.home-side-bar__body__container__expense:hover {
  color: white;
  border-radius: 20px;
  border-color: #f25d70;
  background: linear-gradient(0.25turn, #f25d70, 50%, #846df2);
  box-shadow: 0px 0px 25px 10px rgba(99, 48, 84, 0.75);
}
