.home__background {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
}

.home__head-container-outer {
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #3d3d3f;
}

.home__head-container-inner {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.home__head-title {
  font-size: 48px;
  font-weight: 700;
}

.home__head-icon {
  transform: scale(0.8);
  color: gray;
  margin-right: -2px;
}

.home__body {
  flex-grow: 1;
  display: flex;
}

.home__body__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.home__body__main__header {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.home__body__main__header__title {
  font-size: 36px;
  font-weight: 525;
}

.home__body__main__header__sort-icon {
  transform: scale(1.4);
  margin-left: -2px;
}

.home__body__main__transactions__list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 400;
  padding-inline-start: 0px;
}

.home__body__main__transactions__item-container--income {
  padding-left: 30px;
  padding-right: 30px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #02a267;
}

.home__body__main__transactions__item-container-background {
  margin-left: 20px;
  margin-right: 20px;
}

.home__body__main__transactions__item-container-background:hover {
  border-radius: 5px;
  background-color: #3d3d3f;
  box-shadow: 0px 0px 5px 1px #3d3d3f;
}

.home__body__main__transactions__item-container--expense {
  padding-left: 30px;
  padding-right: 30px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e5607d;
}

.home__body__main__transactions__item__id-container {
  width: 150px;
  display: flex;
}

.home__body__main__transactions__item__id {
  width: 15px;
  text-align: center;
  color: gray;
  margin-right: 75px;
}

.home__body__main__transactions__item__date {
  width: 65px;
  text-align: center;
}

.home__body__main__transactions__merchant {
  flex: 1;
  text-align: center;
  padding-left: 5px;
  padding-right: 15px;
}

.home__body__main__transactions__item__type-container {
  width: 175px;
  display: flex;
}

.home__body__main__transactions__item__type {
  transform: scale(2);
  margin-right: 25px;
}

.home__body__main__transactions__amount {
  width: 125px;
  text-align: end;
}
