.home-side-bar {
  width: 27%;
  min-width: 355px;
  border-right: 1px solid #3d3d3f;
  display: flex;
  flex-direction: column;
}

.home-side-bar::-webkit-scrollbar {
  display: none;
}

.home-side-bar__tab-container {
  height: 120px;
  border-bottom: 1px solid #3d3d3f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-side-bar__body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.home-side-bar__body__container__balance {
  background-image: linear-gradient(0.25turn, #f25d70, 50%, #846df2);
  background-clip: text;
  color: transparent;
  width: 100%;
  height: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.home-side-bar__body__container__balance:hover {
  color: white;
  border-radius: 20px;
  border-color: #f25d70;
  background: linear-gradient(0.25turn, #f25d70, 50%, #846df2);
  box-shadow: 0px 0px 25px 10px rgba(99, 48, 84, 0.75);
}

.home-side-bar__body__container__balance-title {
  font-size: 28px;
  font-weight: 600;
  margin-left: 25px;
}

.home-side-bar__body__container__balance-amount {
  font-size: 64px;
  font-weight: 500;
  margin-right: 25px;
}

.home-side-bar__body__row-container {
  width: 100%;
  height: 125px;
  display: flex;
  flex-direction: column;
}

.home-side-bar__body__row-container-item {
  display: flex;
}

.home-side-bar__body__income-container-cell {
  width: 50%;
  height: 125px;
  position: relative;
}

.home-side-bar__body__income-container-cell:hover {
  border-radius: 20px;
  border-color: #017921;
  background: linear-gradient(0.375turn, #25f45c, 33%, #017921);
  box-shadow: 0px 0px 25px 10px #017921b4;
}

.home-side-bar__body__income-container-cell__title {
  background-image: linear-gradient(0.375turn, #3ff670, 33%, #05a12e);
  background-clip: text;
  color: transparent;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.home-side-bar__body__income-container-cell:hover
  .home-side-bar__body__income-container-cell__title {
  color: white;
}

.home-side-bar__body__income-container-cell__amount {
  background-image: linear-gradient(0.375turn, #3ff670, 33%, #05a12e);
  background-clip: text;
  color: transparent;
  font-size: 32px;
  font-weight: 500;
  position: absolute;
  left: 20%;
  top: 27.5%;
}

.home-side-bar__body__income-container-cell:hover
  .home-side-bar__body__income-container-cell__amount {
  color: white;
}

.home-side-bar__body__expense-container-cell {
  width: 50%;
  height: 125px;
  position: relative;
}

.home-side-bar__body__expense-container-cell:hover {
  border-radius: 20px;
  border-color: #790121;
  background: linear-gradient(0.375turn, #f4255c, 50%, #790121);
  box-shadow: 0px 0px 25px 10px #790121bf;
}

.home-side-bar__body__expense-container-cell__title {
  background-image: linear-gradient(0.375turn, #fa668e, 50%, #bb0133);
  background-clip: text;
  color: transparent;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.home-side-bar__body__expense-container-cell:hover
  .home-side-bar__body__expense-container-cell__title {
  color: white;
}

.home-side-bar__body__expense-container-cell__amount {
  background-image: linear-gradient(0.375turn, #fa668e, 50%, #bb0133);
  background-clip: text;
  color: transparent;
  font-size: 32px;
  font-weight: 500;
  position: absolute;
  left: 20%;
  top: 27.5%;
}

.home-side-bar__body__expense-container-cell:hover
  .home-side-bar__body__expense-container-cell__amount {
  color: white;
}

.home-side-bar__body__avg-per-day-container-cell {
  width: 50%;
  height: 125px;
  position: relative;
}

.home-side-bar__body__avg-per-day-container-cell:hover {
  border-radius: 20px;
  border-color: #f25d70;
  background: linear-gradient(0.25turn, #f25d70, 50%, #846df2);
  box-shadow: 0px 0px 25px 10px rgba(99, 48, 84, 0.75);
}

.home-side-bar__body__avg-per-day-container-cell__amount-container {
  background-image: linear-gradient(0.25turn, #f25d70, 50%, #846df2);
  background-clip: text;
  color: transparent;
  display: flex;
  position: absolute;
  left: 20%;
  top: 27.5%;
}

.home-side-bar__body__avg-per-day-container-cell__amount {
  font-size: 32px;
  font-weight: 500;
}

.home-side-bar__body__avg-per-day-container-cell:hover
  .home-side-bar__body__avg-per-day-container-cell__amount {
  color: white;
}

.home-side-bar__body__avg-per-day-container-cell__amount-days {
  font-size: 18px;
  font-weight: 600;
  margin-top: 12px;
  margin-left: 10px;
}

.home-side-bar__body__avg-per-day-container-cell:hover
  .home-side-bar__body__avg-per-day-container-cell__amount-days {
  color: white;
}

.home-side-bar__body__avg-per-day-container-cell__title {
  background-image: linear-gradient(0.25turn, #f25d70, 50%, #846df2);
  background-clip: text;
  color: transparent;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.home-side-bar__body__avg-per-day-container-cell:hover
  .home-side-bar__body__avg-per-day-container-cell__title {
  color: white;
}

.home-side-bar__body__max-per-day-container-cell {
  width: 50%;
  height: 125px;
  position: relative;
}

.home-side-bar__body__max-per-day-container-cell:hover {
  border-radius: 20px;
  border-color: #f25d70;
  background: linear-gradient(0.25turn, #f25d70, 50%, #846df2);
  box-shadow: 0px 0px 25px 10px rgba(99, 48, 84, 0.75);
}

.home-side-bar__body__max-per-day-container-cell__amount-container {
  background-image: linear-gradient(0.25turn, #f25d70, 50%, #846df2);
  background-clip: text;
  color: transparent;
  display: flex;
  position: absolute;
  left: 20%;
  top: 27.5%;
}

.home-side-bar__body__max-per-day-container-cell__amount {
  font-size: 32px;
  font-weight: 500;
}

.home-side-bar__body__max-per-day-container-cell:hover
  .home-side-bar__body__max-per-day-container-cell__amount {
  color: white;
}

.home-side-bar__body__max-per-day-container-cell__amount-days {
  font-size: 18px;
  font-weight: 600;
  margin-top: 12px;
  margin-left: 10px;
}

.home-side-bar__body__max-per-day-container-cell:hover
  .home-side-bar__body__max-per-day-container-cell__amount-days {
  color: white;
}

.home-side-bar__body__max-per-day-container-cell__title {
  background-image: linear-gradient(0.25turn, #f25d70, 50%, #846df2);
  background-clip: text;
  color: transparent;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.home-side-bar__body__max-per-day-container-cell:hover
  .home-side-bar__body__max-per-day-container-cell__title {
  color: white;
}

.home-side-bar__body__saved-container {
  width: 33%;
  padding-top: 40px;
  padding-left: 55px;
}

.home-side-bar__body__saved-amount {
  background-image: linear-gradient(0.25turn, #f25d70, 50%, #846df2);
  background-clip: text;
  color: transparent;
  font-size: 32px;
  font-weight: 500;
  margin-top: 5px;
}

.home-side-bar__body__saved-title {
  background-image: linear-gradient(0.25turn, #f25d70, 50%, #846df2);
  background-clip: text;
  color: transparent;
  font-size: 18px;
  font-weight: 600;
}
