.home__background {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
}

.home__background::-webkit-scrollbar {
    display: none;
}

.home__head-container-outer {
  width: 100%;
  height: 140px;
  min-height: 140px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #3d3d3f;
}

.home__head-container-inner {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.home__head-title {
  font-size: 48px;
  font-weight: 700;
}

.home__head-icon {
  transform: scale(0.8);
  color: gray;
  margin-right: -2px;
}

.home__body {
  flex-grow: 1;
  display: flex;
}

.home__body__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.home__body__main__header {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.home__body__main__header__title {
  font-size: 36px;
  font-weight: 525;
}

.home__body__main__header__sort-icon {
  transform: scale(1.4);
  margin-left: -2px;
}

.home__body__main__transactions__list-container {
  flex-grow: 1;
  overflow: hidden;
}

.home__body__main__transactions__list {
  height: 867px;
  font-size: 20px;
  font-weight: 600;
  padding-inline-start: 0px;
  margin-top: 0px;
  margin-block-end: 0px;
  overflow-y: scroll;
}

.home__body__main__transactions__list::-webkit-scrollbar {
  display: none;
}

.home__body__main__transactions__item-container {
  padding-left: 30px;
  padding-right: 10px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(0.25turn, #f25d70, 50%, #846df2);
  background-clip: text;
  color: transparent;
}

.home__body__main__transactions__item-container:hover {
  color: white;
}

.home__body__main__transactions__item-container-background {
  margin-top: 8px;
  margin-left: 20px;
  margin-right: 20px;
}

.home__body__main__transactions__item-container-background:first-child {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.home__body__main__transactions__item-container-background:hover {
  border-radius: 5px;
  background: linear-gradient(0.25turn, #f25d70, 50%, #846df2);
  box-shadow: 0px 0px 20px 5px rgba(99, 48, 84, 0.75);
}

.home__body__main__transactions__item__id-container {
  width: 230px;
  display: flex;
}

.home__body__main__transactions__item__id {
  width: 15px;
  text-align: center;
  color: gray;
  margin-right: 40px;
}

.home__body__main__transactions__item__date {
  width: auto;
  padding-right: 10px;
}

.home__body__main__transactions__merchant {
  flex: 1;
  text-align: center;
  padding-left: 5px;
  padding-right: 15px;
}

.home__body__main__transactions__item__type-container {
  width: 175px;
  display: flex;
}

.home__body__main__transactions__item__type--income {
  transform: scale(2);
  margin-left: 25px;
  color: #2cd359;
}

.home__body__main__transactions__item__type--expense {
  transform: scale(2);
  margin-left: 25px;
  color: #e6384e;
}

.home__body__main__transactions__amount {
  width: 125px;
  text-align: end;
}

.home__body__main__transactions__more-icon-container {
  margin-left: 40px;
}

.home__body__main__transactions__more-popper {
  width: 95px;
}

.home__body__main__transactions__more-popper__option-container {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 15px;
  align-items: center;
  cursor: pointer;
}

.home__body__main__transactions__more-popper__option-container:hover {
  background: dimgrey;
}

.home__body__main__transactions__more-popper__option-icon {
  transform: scale(0.6);
}

.home__body__main__transactions__more-popper__option-label {
  text-transform: none;
  font-size: 12px;
  font-weight: 500;
  color: white;
}
